            <section class="main-new-solutions">
                <div class="container main-new-solutions__container">
                    <h2 class="main-new-solutions__title main-new-solutions__title_first">
                      
                    </h2>
                    <h3 class="main-new-solutions__title main-new-solutions__title_second">
                        See how it works
                    </h3>
                    <p class="main-new-solutions__description">
                        In the background we generate one-time use virtual cards with the correct amount of fiat currency to provide seamless crypto payment.
                    </p>
                    <p class="main-new-solutions__description">
                        You can stay anonymous and avoid sharing banking details with the service provider.
                    </p>
                </div>
                <div class="main-new-solutions__bubbles" id="solution-bubbles" data-lang-prefix="en">
                    <div class="main-new-bubbles">
                        <div class="main-new-bubbles__container">
                            <img class="main-new-solutions__background main-new-solutions__background_left"
                                src="./files/vertical-arrow-long.svg" alt="background" decoding="async" loading="lazy"
                                width="91" height="480" />
                            <div class="main-new-bubbles__row">
                                <a class="main-new-bubble main-new-bubble_link" href="https://PayperPlane.io/api" style="
                                 background-color: rgb(255, 163, 187);
                                 border-color: rgb(255, 163, 187);
                                 color: rgb(19, 23, 28);
                              ">Virtual Cards</a>
                                <div class="main-new-bubble main-new-bubble_empty" style="
                                 background-color: transparent;
                                 border-color: rgb(218, 255, 124);
                                 max-width: 155px;
                              ">
                                    <svg class="main-new-bubble__arrow" width="25" height="28" viewBox="0 0 25 28"
                                        fill="none" xmlns="http://www.w3.org/2000/svg" style="
                                    transform: rotate(0deg);
                                    align-self: flex-end;
                                 ">
                                        <path d="M11.5 1.5L24 14M24 14L11.5 26.5M24 14H1" stroke="#DAFF7C"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                                <a class="main-new-bubble main-new-bubble_link" href="https://PayperPlane.io/invoices"
                                    style="
                                 background-color: transparent;
                                 border-color: rgb(218, 255, 124);
                                 color: rgb(218, 255, 124);
                              ">Any EVM Wallets</a><a class="main-new-bubble main-new-bubble_link"
                                    href="https://PayperPlane.io/fiat-on-ramp" style="
                                 background-color: rgb(100, 172, 255);
                                 border-color: rgb(100, 172, 255);
                                 color: rgb(255, 255, 255);
                              ">Refund Support</a>
                                <div class="main-new-bubble main-new-bubble_empty" style="
                                 background-color: transparent;
                                 border-color: rgb(255, 163, 187);
                                 max-width: unset;
                              "></div>
                                <a class="main-new-bubble main-new-bubble_link" href="https://PayperPlane.io/pos" style="
                                background-color: rgb(218, 255, 124);
                                border-color: rgb(218, 255, 124);
                                color: rgb(19, 23, 28);
                             ">CELO</a>
                                <a class="main-new-bubble main-new-bubble_link"
                                    href="https://PayperPlane.io/subscriptions" style="
                                 background-color: transparent;
                                 border-color: rgb(255, 163, 187);
                                 color: rgb(255, 163, 187);
                              ">Smart Routing</a>
                                <div class="main-new-bubble main-new-bubble_empty" style="
                                 background-color: rgb(100, 172, 255);
                                 border-color: rgb(100, 172, 255);
                                 max-width: 48px;
                              ">
                                    <svg class="main-new-bubble__arrow" width="25" height="28" viewBox="0 0 25 28"
                                        fill="none" xmlns="http://www.w3.org/2000/svg" style="
                                    transform: rotate(90deg);
                                    align-self: center;
                                 ">
                                        <path d="M11.5 1.5L24 14M24 14L11.5 26.5M24 14H1" stroke="#13171C"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="main-new-bubbles__row">
                                <a class="main-new-bubble main-new-bubble_link"
                                    href="https://PayperPlane.io/payment-button" style="
                                 background-color: transparent;
                                 border-color: rgb(100, 172, 255);
                                 color: rgb(100, 172, 255);
                              ">Crypto Payment Widget</a>
                                <div class="main-new-bubble main-new-bubble_empty" style="
                                 background-color: transparent;
                                 border-color: rgb(255, 163, 187);
                                 max-width: unset;
                              "></div>
                                <a class="main-new-bubble main-new-bubble_link"
                                    href="https://PayperPlane.io/donation-tools" style="
                                 background-color: transparent;
                                 border-color: rgb(100, 172, 255);
                                 color: rgb(255, 255, 255);
                              ">Crypto Donations</a>
                                <div class="main-new-bubble main-new-bubble_empty" style="
                                 background-color: transparent;
                                 border-color: rgb(218, 255, 124);
                                 max-width: 48px;
                              ">
                                    <svg class="main-new-bubble__arrow" width="25" height="28" viewBox="0 0 25 28"
                                        fill="none" xmlns="http://www.w3.org/2000/svg" style="
                                    transform: rotate(0deg);
                                    align-self: center;
                                 ">
                                        <path d="M11.5 1.5L24 14M24 14L11.5 26.5M24 14H1" stroke="#DAFF7C"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                                <a class="main-new-bubble main-new-bubble_link" href="https://PayperPlane.io/pos" style="
                                 background-color: rgb(218, 255, 124);
                                 border-color: rgb(218, 255, 124);
                                 color: rgb(19, 23, 28);
                              ">Seemless Checkout</a><a class="main-new-bubble main-new-bubble_link"
                                    href="https://PayperPlane.io/payment-tools" style="
                                 background-color: transparent;
                                 border-color: rgb(255, 163, 187);
                                 color: rgb(255, 255, 255);
                              ">TAC</a>
                                <div class="main-new-bubble main-new-bubble_empty" style="
                                 background-color: transparent;
                                 border-color: rgb(255, 163, 187);
                                 max-width: 109px;
                              ">
                                    <svg class="main-new-bubble__arrow" width="25" height="28" viewBox="0 0 25 28"
                                        fill="none" xmlns="http://www.w3.org/2000/svg" style="
                                    transform: rotate(135deg);
                                    align-self: flex-start;
                                 ">
                                        <path d="M11.5 1.5L24 14M24 14L11.5 26.5M24 14H1" stroke="#FFA3BB"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                                <a class="main-new-bubble main-new-bubble_link"
                                    href="https://PayperPlane.io/payment-widget" style="
                                 background-color: rgb(100, 172, 255);
                                 border-color: rgb(100, 172, 255);
                                 color: rgb(255, 255, 255);
                              ">Compliant</a>
                            </div>
                            <div class="main-new-bubbles__row">
                                <div class="main-new-bubble main-new-bubble_empty" style="
                                 background-color: rgb(218, 255, 124);
                                 border-color: rgb(218, 255, 124);
                                 max-width: 48px;
                              "></div>
                                <a class="main-new-bubble main-new-bubble_link"
                                    href="https://PayperPlane.io/white-label" style="
                                 background-color: transparent;
                                 border-color: rgb(255, 163, 187);
                                 color: rgb(255, 255, 255);
                              ">BSC</a><a class="main-new-bubble main-new-bubble_link"
                                    href="https://PayperPlane.io/mass-payments" style="
                                 background-color: transparent;
                                 border-color: rgb(218, 255, 124);
                                 color: rgb(255, 255, 255);
                              ">Stablecoins Payments</a>
                                <div class="main-new-bubble main-new-bubble_empty" style="
                                 background-color: rgb(218, 255, 124);
                                 border-color: rgb(218, 255, 124);
                                 max-width: 48px;
                              ">
                                    <svg class="main-new-bubble__arrow" width="25" height="28" viewBox="0 0 25 28"
                                        fill="none" xmlns="http://www.w3.org/2000/svg" style="
                                    transform: rotate(225deg);
                                    align-self: center;
                                 ">
                                        <path d="M11.5 1.5L24 14M24 14L11.5 26.5M24 14H1" stroke="#13171C"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                                <a class="main-new-bubble main-new-bubble_link" href="https://PayperPlane.io/custody"
                                    style="
                                 background-color: rgb(255, 163, 187);
                                 border-color: rgb(255, 163, 187);
                                 color: rgb(19, 23, 28);
                              ">Self-Custody</a><a class="main-new-bubble main-new-bubble_link"
                                    href="https://PayperPlane.io/off-ramp" style="
                                 background-color: transparent;
                                 border-color: rgb(100, 172, 255);
                                 color: rgb(100, 172, 255);
                              ">Moonbeam</a>
                                <div class="main-new-bubble main-new-bubble_empty" style="
                                 background-color: rgb(255, 163, 187);
                                 border-color: rgb(255, 163, 187);
                                 max-width: 48px;
                              "></div>
                                <div class="main-new-bubble main-new-bubble_empty" style="
                                 background-color: transparent;
                                 border-color: rgb(100, 172, 255);
                                 max-width: unset;
                              "></div>
                                <a class="main-new-bubble main-new-bubble_link"
                                    href="https://PayperPlane.io/customer-operations" style="
                                 background-color: transparent;
                                 border-color: rgb(255, 163, 187);
                                 color: rgb(255, 255, 255);
                              ">Digital Nomad Friendly</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container main-new-solutions__container">
                    <div class="main-new-solutions__buttons">
                        <a href="https://github.com/vm06007/crypto-bnb"
                            class="now-button main-new-solutions__button button-utm" target="_blank" rel="noopener">
                            Github</a><a href="#demo" class="now-button main-new-solutions__button now-button_black-border now-button_blue-text" data-modal="demo">
                            Demo</a>
                    </div>
                </div>
            </section>
