            <section class="best-suited best-suited_dark best-suited_main-new">
                <div class="container best-suited__box">
                    <h2 class="best-suited__title">
                        Our browser extension <span>can work with:</span>
                    </h2>
                    <div class="best-suited__content">
                        <div class="best-suited__list">

                                <a href="https://PayperPlane.io/all-solutions/trading-platform"
                                target="_self" class="best-suited__card"><img src="/files/invoice-icon.svg"
                                    alt="Trading Platforms" decoding="async" loading="lazy" width="80" height="80" />
                                Booking Platforms </a>
                                <a href="https://PayperPlane.io/all-solutions/marketplace"
                                target="_self" class="best-suited__card"><img src="/files/marketplace-light.svg"
                                    alt="Marketplace" decoding="async" loading="lazy" width="80" height="80" />
                                Marketplace </a><a href="https://PayperPlane.io/all-solutions/gaming" target="_self"
                                class="best-suited__card"><img src="/files/igaming.svg" alt="iGaming" decoding="async"
                                    loading="lazy" width="80" height="80" />
                                iGaming </a>
                                <a href="https://PayperPlane.io/all-solutions/casinos" target="_self"
                                class="best-suited__card"><img src="/files/casinos.svg" alt="Casinos" decoding="async"
                                    loading="lazy" width="80" height="80" />
                                Casinos </a><a href="https://PayperPlane.io/all-solutions/token-generation-event"
                                target="_self" class="best-suited__card"><img src="/files/tge-dark.svg"
                                    alt="Token Generation Events" decoding="async" loading="lazy" width="80"
                                    height="80" />

                                Open APIs </a><a href="https://PayperPlane.io/business" target="_self"
                                class="best-suited__card"><img src="/files/e-commerce.svg" alt="E-commerce"
                                    decoding="async" loading="lazy" width="80" height="80" />
                                E-commerce </a><a href="https://PayperPlane.io/all-solutions/saas" target="_self"
                                class="best-suited__card"><img src="/files/saas.svg" alt="SaaS and Web Services"
                                    decoding="async" loading="lazy" width="80" height="80" />
                                SaaS and Web Services </a>                                <a href="https://PayperPlane.io/all-solutions/adult"
                                target="_self" class="best-suited__card"><img src="/files/adult.svg"
                                    alt="18+ Commerce" decoding="async" loading="lazy" width="80" height="80" />
                                18+ Commerce </a><a href="https://PayperPlane.io/all-solutions/charity" target="_self"
                                class="best-suited__card"><img src="/files/charity.svg" alt="Charity" decoding="async"
                                    loading="lazy" width="80" height="80" />
                                Charity</a>
                        </div>
                    </div>
                </div>
            </section>


