    <footer class="footer">
        <div class="container footer__box">
            <a class="footer__logo" href="https://PayperPlane.io/">
                <img src="/files/payper.png" alt="PayperPlane" height="30" />
            </a>
            <div class="footer__menu">
                <a href="#product" class="footer__menu-link" data-modal="product">Problem</a>
                <a href="#solutions" class="footer__menu-link" data-modal="solutions">Solutions</a>
                <a href="#builders" class="footer__menu-link" data-modal="builders">Builders</a>
                <a href="#currencies" class="footer__menu-link" data-modal="currencies">Currencies</a>
                <a href="#demo" class="footer__menu-link" data-modal="demo">Demo</a>
            </div>
            <div class="footer__buttons">
                <a href="https://github.com/vm06007/crypto-bnb"
                    class="new-button menu__button menu__button_get-started"
                    id="footer-github-btn"
                    target="_blank">Github</a>
            </div>
        </div>
    </footer>
    

