            <section class="main-new-stat">
                <div class="container main-new-stat__container">
                    <h2 class="main-new-stat__title">
                        Why this extension matters
                    </h2>
                    <p class="main-new-stat__description" style="font-size: 22px; line-height: 28px;">
                        • Solves the disconnect between crypto ownership and real-world usability<br>
                        • Serves tourists, expats, and digital nomads who earn/hold crypto<br>
                        • Empowering the unbanked & users without credit cards<br>
                        • Growing the crypto-travel economy
                    </p>
                    <div class="main-new-stat__content">
                        <div class="main-new-stat__diagram">
                            <p class="main-new-stat__diagram-title">
                                Crypto holders through the years
                            </p>
                            <picture class="main-new-stat__diagram-image">
                                <source type="image/svg+xml" srcset="" media="(min-width: 992px)" />
                                <img src="/files/diagram.svg" alt="Crypto holders data" decoding="async" loading="lazy"
                                    width="326" height="109" />
                            </picture>
                            <div class="main-new-stat__axis-labels">
                                <div class="main-new-stat__axis-label">
                                    <p>0</p>
                                </div>
                                <div class="main-new-stat__axis-label">
                                    <p>250 Million</p>
                                </div>
                                <div class="main-new-stat__axis-label">
                                    <p>500 Million</p>
                                </div>
                                <div class="main-new-stat__axis-label">
                                    <p>750 Million</p>
                                </div>
                                <div class="main-new-stat__axis-label">
                                    <p>1 Billion</p>
                                </div>
                            </div>
                        </div>
                        <ul class="main-new-stat__texts">
                            <li class="main-new-stat__text">
                                Crypto payments reached <span>$4.5 billion</span> in
                                the first fiscal quarter of 2025 alone
                            </li>
                            <li class="main-new-stat__text">
                                <span>40% of people aged 18 to 35</span> say they
                                plan to use crypto for payments in 2025, and as many
                                as 10% of them say they will do so regularly.
                            </li>
                            <li class="main-new-stat__text">
                                Crypto payment
                                <span>fees are 50-90% lower</span> than those of
                                traditional payment methods.
                            </li>
                        </ul>
                    </div>
                </div>
            </section>


