    <header class="header j-header">
        <div class="header__top">
            <div class="container header__box">
                <div class="header__left">
                    <a href="/" class="logo">
                        <img src="files/payper.png" alt="PayperPlane" height="30" />
                    </a>
                </div>
                <div class="header__center">
                    <div class="header__menu">
                        <div class="menu">
                            <div class="menu__item">
                                <a href="#product" class="menu__link" data-modal="product">Product</a>
                            </div>
                            <div class="menu__item">
                                <a href="#solutions" class="menu__link" data-modal="solutions">Solutions</a>
                            </div>
                            <div class="menu__item">
                                <a href="#builders" class="menu__link" data-modal="builders">Builders</a>
                            </div>
                            <div class="menu__item">
                                <a href="#currencies" class="menu__link" data-modal="currencies">Currencies</a>
                            </div>
                            <div class="menu__item">
                                <a href="#pricing" class="menu__link" data-modal="pricing">Pricing</a>
                            </div>
                            <div class="menu__item">
                                <a href="#demo" class="menu__link" data-modal="demo">Demo</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header__right">
                    <div class="menu__buttons">
                        <a href="https://github.com/payperplane"
                            class="new-button menu__button menu__button_get-started j-button-sing-up j-menu__link_create-account"
                            id="sign-up-btn"
                            target="_blank">Github</a>
                        <a href="#contact"
                            class="new-button menu__button menu__button_outlined"
                            data-modal="contact">Contact Us</a>
                    </div>
                    <div class="header__burger j-burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mobile Menu -->
        <div class="header__mobile-menu j-mobile-menu">
            <div class="header__mobile-menu-wrapper">
                <div class="header__mobile-menu-inner">
                    <div class="header__mobile-menu-top">
                        <a href="/" class="logo">
                            <img src="files/payper.png" alt="PayperPlane" height="30" />
                        </a>
                        <div class="header__mobile-menu-close j-mobile-menu-close">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div class="header__mobile-menu-list">
                        <a href="#product" class="header__mobile-menu-item" data-modal="product">Product</a>
                        <a href="#solutions" class="header__mobile-menu-item" data-modal="solutions">Solutions</a>
                        <a href="#builders" class="header__mobile-menu-item" data-modal="builders">Builders</a>
                        <a href="#currencies" class="header__mobile-menu-item" data-modal="currencies">Currencies</a>
                        <a href="#pricing" class="header__mobile-menu-item" data-modal="pricing">Pricing</a>
                        <a href="#demo" class="header__mobile-menu-item" data-modal="demo">Demo</a>
                    </div>
                    <div class="header__mobile-menu-buttons">
                        <a href="https://github.com/payperplane"
                            class="new-button menu__button menu__button_get-started"
                            target="_blank">Github</a>
                        <a href="#contact"
                            class="new-button menu__button menu__button_outlined"
                            data-modal="contact">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
