    <header class="header j-header">
        <div class="header__top">
            <div class="container header__box">
                <div class="header__left">
                    <a href="/" class="logo">
                        <img src="files/payper.png" alt="PayperPlane" height="30" />
                    </a>
                </div>
                <div class="header__center">
                    <div class="header__menu">
                        <div class="menu">
                            <div class="menu__item">
                                <a href="#product" class="menu__link" data-modal="product">Problem</a>
                            </div>
                            <div class="menu__item">
                                <a href="#solutions" class="menu__link" data-modal="solutions">Solutions</a>
                            </div>
                            <div class="menu__item">
                                <a href="#builders" class="menu__link" data-modal="builders">Builders</a>
                            </div>
                            <div class="menu__item">
                                <a href="#currencies" class="menu__link" data-modal="currencies">Currencies</a>
                            </div>
                            <div class="menu__item">
                                <a href="#demo" class="menu__link" data-modal="demo">Demo</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header__right">
                    <div class="menu__buttons">
                        <!-- Desktop: Show Github button -->
                        <a href="https://github.com/vm06007/crypto-bnb"
                            class="new-button menu__button menu__button_get-started j-button-sing-up j-menu__link_create-account header__button-desktop"
                            id="sign-up-btn"
                            target="_blank">Github</a>
                        <!-- Mobile: Show Demo button -->
                        <a href="#demo" 
                            class="new-button menu__button menu__button_get-started header__button-mobile" 
                            data-modal="demo">Demo</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
