            <section class="main-new-awards" id="main-new-awards">
                <div class="container main-new-awards__container">
                    <h2 class="main-new-awards__title">
                        Available Integrations
                    </h2>
                    <div class="main-new-awards__cards">
                        <a href="https://airbnb.com"
                            class="main-new-awards__card" target="_blank" rel="nofollow noopener noreferrer">
                            <div class="main-new-awards__image-wrapper">
                                <img class="main-new-awards__image_forbes main-new-awards__image_mobile"
                                    src="./files/airbnb-logo.png" alt="award" decoding="async" loading="lazy" />
                                <img class="main-new-awards__image_forbes main-new-awards__image_desktop"
                                    src="./files/airbnb-logo.png" alt="award" decoding="async" loading="lazy" />
                            </div>
                            <p class="main-new-awards__description">
                                Airbnb Reservations
                            </p>
                            <img
                                class="main-new-awards__clip_forbes"
                                src="./files/clip-blue.svg"
                                alt="clip"
                                style="filter:hue-rotate(-45deg);"
                                decoding="async" loading="lazy" width="80" height="80" />
                        </a>
                        <a href="https://expedia.com"
                            class="main-new-awards__card" target="_blank" rel="nofollow noopener noreferrer">
                            <div class="main-new-awards__image-wrapper">
                                <img class="main-new-awards__image_sigma main-new-awards__image_mobile"
                                    src="./files/expedia.png" alt="Expedia" decoding="async" loading="lazy" />
                                <img class="main-new-awards__image_sigma main-new-awards__image_desktop"
                                    src="./files/expedia.png" alt="Expedia" decoding="async" loading="lazy" />
                            </div>
                            <p class="main-new-awards__description">
                                Expedia Reservations
                            </p>
                            <img style="filter:hue-rotate(45deg);" class="main-new-awards__clip_sigma" src="./files/clip-rose.svg" alt="clip"
                                decoding="async" loading="lazy" width="80" height="80" />
                        </a>
                    </div>
                    <div class="main-new-awards__backgrounds">
                        <img class="main-new-awards__background-star_gray-one" src="./files/small-star-gray.svg"
                            alt="background" decoding="async" loading="lazy" width="38" height="38" />
                        <img class="main-new-awards__background-star_gray-two" src="./files/small-star-gray.svg"
                            alt="background" decoding="async" loading="lazy" width="38" height="38" />
                        <img class="main-new-awards__background-star_pink" src="./files/small-star-pink.svg"
                            alt="background" decoding="async" loading="lazy" width="33" height="31" />
                        <img class="main-new-awards__background-star_yellow" src="./files/big-star-yellow.svg"
                            alt="background" decoding="async" loading="lazy" width="226" height="204" />
                        <img class="main-new-awards__background-star_blue" src="./files/big-star-blue.svg"
                            alt="background" decoding="async" loading="lazy" width="200" height="185" />
                        <img class="main-new-awards__background-star_blue-clear" src="./files/big-star-blue-clear.svg"
                            alt="background" decoding="async" loading="lazy" width="82" height="80" />
                    </div>
                </div>
            </section>
